.examplesNavList {
    list-style: none;
    display: flex;
    gap: 10px;
    flex: 1;
    flex-direction: column;
    padding: 0;
}

.example {
    word-break: break-word;
    background: white;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    margin-bottom: 5px;
    cursor: pointer;
}

.eacheli {
    border: 1px solid;
    border-color: #ff6f61;
    padding: 9px;
    border-radius: 5px;
}

.eacheli:hover {
    outline: 2px solid rgba(115, 118, 225, 1);
}

.exampleText {
    margin: 0;
    font-size: 1em;
    word-break: break-word;
    display: flex;
    padding: 10px;
    cursor: pointer;
}

@media (max-width: 800px) {
    .exampleText {
        font-size: 0.85em;
    }
}

.languageButtons {
    display: flex;
    justify-content: flex-end;
}

.languageButtons button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.languageButtons button:focus {
    outline: none;
}

.languageButtons button svg {
    width: 24px;
    height: 24px;
}

.languageButtons button:nth-child(1) svg {
    fill: #1d9dff;
}

.languageButtons button:nth-child(2) svg {
    fill: #ffd700;
}

.languageButtons button:nth-child(3) svg {
    fill: #ff6347;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8d7da;
    padding: 10px 20px;
    position: relative;
}

.menuIcon {
    font-size: 24px;
    cursor: pointer;
}

.title {
    margin: 0;
    font-size: 18px;
    color: #b03a2e;
}

.languageButtons {
    display: flex;
    gap: 10px;
}

.flagIcon {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.dropdownMenu {
    position: absolute;
    top: 50px;
    left: 10px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    padding: 10px;
}

.dropdownMenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdownMenu li {
    margin-bottom: 10px;
}

.dropdownMenu li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.dropdownMenu li a:hover {
    color: #007bff;
}

.suggestionsTitle {
    margin-top: -30px;
    font-size: 1.6em; /* Ajuste o tamanho da fonte conforme necessário */
    color: #d9534f; /* Cor do título */
}

.examplesNavList {
    list-style-type: none;
    padding: 0;
}

.exampleText {
    margin: 0;
    font-size: 1.5em;
    word-break: break-word;
    display: flex;
    padding: 10px;
    cursor: pointer;
}

@media (max-width: 800px) {
    .exampleText {
        font-size: 0.85em;
    }
}
